---
layout: default
title: Foto's
---

<div class="page-content">
  {% assign sorted_photo_series = site.photo_series | sort: 'date' | reverse %}
  {% for photo_serie in sorted_photo_series %}

    <div class="photo-collage-grid">
      <div class="photo-collage">
        <h2>{{ photo_serie.title }}</h2>
        <span>
          <b>Fotograaf:</b>
          {{ photo_serie.photographer }}
        </span>
      </div>
      <a class="photo-collage-grid__photo photo-collage-grid__photo--first" style="grid-column: span {{ photo_serie.photos[0].cols }}" href="https://ucarecdn.com/{{ photo_serie.photos[0].uuid }}/">
        <img src="https://ucarecdn.com/{{ photo_serie.photos[0].uuid }}/-/preview/" />
      </a>
      {% assign photos_without_first = photo_serie.photos | slice: 1, 99 %}
      {% for photo in photos_without_first %}
        <a class="photo-collage-grid__photo" style="grid-column: span {{ photo.cols }}; grid-row: span {{ photo.rows }}" href="https://ucarecdn.com/{{ photo.uuid }}/">
          <img src="https://ucarecdn.com/{{ photo.uuid }}/-/preview/" />
        </a>
      {% endfor %}
    </div>
  {% endfor %}
</div>
