---
layout: default
title: Gigs
---

<div class="page-content">
  <h1 class="gigs-page__title">Gigs</h1>
  <div>
    <table class="gigs-table">
      <thead class="gigs-table__head">
        <tr class="gigs-table__header-row">
          <th class="gigs-table__header-cell">Datum</th>
          <th class="gigs-table__header-cell">Titel</th>
          <th class="gigs-table__header-cell">Locatie</th>
          <th class="gigs-table__header-cell">Tickets</th>
        </tr>
      </thead>
      <tbody>
        {% assign sorted_gigs = site.gigs | sort: 'date' | reverse %}
        {% for gig in sorted_gigs %}
          {% assign gig_date = gig.date | date: '%s' %}
          {% assign current_date = 'now' | date: '%s' %}
          <tr class="{% cycle '', 'gigs-table__row--alt' %}">
            <td class="gigs-table__cell">
              <span class="{% if gig_date < current_date %}gigs-table__text--past{% endif %}">{{ gig.date | date_to_string }}</span>
            </td>
            <td class="gigs-table__cell">
              <span class="{% if gig_date < current_date %}gigs-table__text--past{% endif %}">{{ gig.title }}</span>
            </td>
            <td class="gigs-table__cell">
              <span class="{% if gig_date < current_date %}gigs-table__text--past{% endif %}">{{ gig.location }}</span>
            </td>
            <td class="gigs-table__cell">
              <a
                class="gigs-table__link {% if gig_date < current_date %}gigs-table__text--past{% endif %}"
                href="{{ gig.ticket_link }}">TICKETS</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<script></script>
