<div class="footer">
    <div class="footer__top-image">
        {{/* <img src="/assets/images/4.svg" alt> */}}
    </div>
    <div class="container mx-auto max-w-5xl grid grid-cols-3 gap-4">
        <div>
            <a href="mailto:eaumontjardin@gmail.com">eaumontjardin@gmail.com</a>
        </div>
        <div>
            <a
                href="https://www.instagram.com/eau.mont.jardin/">instagram.com/eau.mont.jardin
            </a>
        </div>
        <div>
            <a target="_blank"
                href="https://winkel.eaumontjardin.fr/wordpress/">winkel.eaumontjardin.fr/wordpress/</a>
        </div>
    </div>
</div>
