<nav class="container mx-auto max-w-4xl text-lg sticky top-0 px-2 md:px-0 mb- md:mb-8">
  <div
    class="flex flex-row justify-between items-center md:px-2 md:pl-5 py-2 bg-green-400 text-white rounded-lg"
  >
    {% assign pages = site.pages | where_exp: 'page', 'page.title' %}
    {% assign pages_sorted = pages | sort: 'date' | reverse %}
    {% for page in pages_sorted %}
      {% if page.url == "/bandleden-gezocht.html" %}
        <a
          href="{{page.url}}"
          class="text-sm md:text-base flex items-center text-green-900 font-bold bg-yellow rounded-md px-2 py-1"
        >
          {{ page.title }}
        </a>
      {% else %}
        <a
          href="{{page.url}}"
          class="text-sm md:text-base flex items-center text-green-900 font-bold"
        >
          {{ page.title }}
        </a>
      {% endif %}
    {% endfor %}
    <div class="md:hidden text-sm md:text-base">
      <a
        class=""
        href="https://open.spotify.com/artist/1tXuVg9XNIbVjaEQNW9xmL?si=ocOafhslQrCqE0bxdaH1Sw"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="icon icon-tabler icons-tabler-filled icon-tabler-brand-spotify w-8 h-8"
        >
          <path
            stroke="none"
            d="M0 0h24v24H0z"
            fill="none"
          ></path>
          <path
            d="M17 3.34a10 10 0 1 1 -15 8.66l.005 -.324a10 10 0 0 1 14.995 -8.336m-2.168 11.605c-1.285 -1.927 -4.354 -2.132 -6.387 -.777a1 1 0 0 0 1.11 1.664c1.195 -.797 3.014 -.675 3.613 .223a1 1 0 1 0 1.664 -1.11m1.268 -3.245c-2.469 -1.852 -5.895 -2.187 -8.608 -.589a1 1 0 0 0 1.016 1.724c1.986 -1.171 4.544 -.92 6.392 .465a1 1 0 0 0 1.2 -1.6m1.43 -3.048c-3.677 -2.298 -7.766 -2.152 -10.977 -.546a1 1 0 0 0 .894 1.788c2.635 -1.317 5.997 -1.437 9.023 .454a1 1 0 1 0 1.06 -1.696"
          ></path>
        </svg>
      </a>
    </div>
  </div>
</nav>
