<nav class="container mx-auto max-w-4xl text-lg sticky top-0 px-2 md:px-0 mb-2 md:mb-8">
  <div class="flex flex-wrap flex-row
  justify-between
  items-center md:px-2 p-2 py-2 bg-green-400 text-white rounded-lg">
    {% assign pages = site.pages | where_exp: 'page', 'page.title' %}
    {% assign pages_sorted = pages | sort: 'order' | reverse %}
    {% for page in pages_sorted %}
      {% if page.url == "/bandleden-gezocht.html" %}
        <a href="{{page.url}}" class="
        text-base
        flex
        items-center
        text-green-900
        font-bold
        bg-yellow
        rounded-md
        px-2
        py-1">
          {{ page.title }}</a>
      {% else %}
        <a href="{{page.url}}" class="
        text-base 
        flex
        items-center
        text-green-900
        font-bold
        md:ml-2 
        md:mr-2">
          {{ page.title }}
        </a>
      {% endif %}
    {% endfor %}
  </div>
</nav>