<nav class="container mx-auto mt-10 max-w-4xl text-lg">
  <ul class="flex flex-row justify-around px-5 py-2 bg-green-50">
    <!-- <li class="text-lg">
      <a href="/" class="flex items-center">  
        Home
      </a>
    </li> -->
    {% assign pages = site.pages | where_exp: 'page', 'page.title' %}
    {% assign pages_sorted = pages | sort: 'date' | reverse %}
    {% for page in pages_sorted %}
    <li class="text-lg">
      <a href="{{page.url}}" class="flex items-center">
        {{ page.title }}
      </a>
    </li>
    {% endfor %}
  </ul>
</nav>
