<form
  method="post"
  action="https://ootes-band.email-provider.eu/subscribe/post/index.php"
  accept-charset="utf-8"
  class="newsletter-form">
  <input
    type="hidden"
    name="next"
    value="" />
  <input
    type="hidden"
    name="a"
    value="pgqmd2p6jc" />
  <input
    type="hidden"
    name="l"
    value="2ul2odisp2" />

  <div class="newsletter-form__field">
    <label for="id-fa7DVVSbwr" class="newsletter-form__label">Voornaam</label>
    <input
      name="fa7DVVSbwr"
      autocomplete="on"
      id="id-fa7DVVSbwr"
      type="text"
      class="newsletter-form__input">
  </div>

  <div class="newsletter-form__field">
    <label for="id-hldtaN4Ke3" class="newsletter-form__label">Achternaam</label>
    <input
      name="hldtaN4Ke3"
      autocomplete="on"
      id="id-hldtaN4Ke3"
      type="text"
      class="newsletter-form__input">
  </div>

  <div class="newsletter-form__field">
    <label for="id-vCOIEXP5Bz" class="newsletter-form__label">E-mailadres&nbsp;*</label>
    <input
      name="vCOIEXP5Bz"
      autocomplete="email"
      id="id-vCOIEXP5Bz"
      type="email"
      required
      class="newsletter-form__input newsletter-form__input--required">
  </div>

  <input
    autocomplete="new-password"
    type="email"
    id="email"
    name="email"
    placeholder="Your e-mail here"
    style="position:absolute;top:-9999px;left:-9999px;">

  <input
    type="submit"
    value="Aanmelden"
    class="newsletter-form__submit" />
</form>
<script src="https://ootes-band.email-provider.eu/subscribe/check/validate.js"></script>