.footer {
    display: flex;
    align-items: center;
    background-color: aqua;
    justify-content: center;
    a {
        display: flex;
        align-items: center;
        svg {
            margin-left: 1rem;
        }
    }
}
