.page-body {
    background-color: #dcfce7; // bg-green-100
}

.page-content {
    max-width: 56rem; // max-w-4xl
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    @media (min-width: 768px) {
        padding-left: 0;
        padding-right: 0;
    }
}
