.nav {
    background: white;
    display: inline-block;
    flex-direction: column;

    .tree-view {
        padding: 25px;
    }

    a {
        display: flex;
        align-items: center;
        margin-right: 1rem;
        &:last-child {
            margin-right: 0;
        }
        &:hover {
            text-decoration: underline;
        }
        img {
            width: 40px;
            height: 40px;
            margin-right: 5px;
        }
    }

    a.active {
        font-weight: bolder;
    }
}
