.rubik-scribble-regular {
    font-family: "Rubik Scribble", system-ui;
    font-weight: 400;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Fira Mono", monospace;
}

table {
    font-family: "Fira Mono", monospace;
}