---
---
<html lang="NL">
    <head>
        <link rel="stylesheet"
            href="{{'/assets/css/styles.css' | absolute_url}}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <script src="https://cdn.tailwindcss.com"></script>
        <link
            rel="stylesheet"
            href="https://unpkg.com/98.css">
        <link
            href="https://fonts.googleapis.com/css2?family=Preahvihear&display=swap"
            rel="stylesheet">
    </head>
    <body class="background background--blup">
        {% include nav.html %}
        {{ content }}
        {% include footer.html %}
    </body>
</html>
